Django==4.2
djangorestframework
djangorestframework-simplejwt
python-decouple


requests
drf-yasg[validation]
django-allauth
django-filter  
django-cors-headers



# Photo & Image
Pillow
#refactoring 
black
flake8
Faker
pytest
pytest-django

# #db
# psycopg2


# background proccess and cache
celery
redis
django-redis
