Django==4.2
djangorestframework
djangorestframework-simplejwt
python-decouple

Django-allauth
requests
drf-yasg[validation]
django-allauth
django-filter  


# Photo & Image
Pillow
#refactoring 
black
flake8
Faker

# #db
# psycopg2


# background proccess and cache
celery
redis
django-redis